head,body,section,footer {

	width: 960px;
    margin-left: auto;
	margin-right: auto;
}

head {
	height: 100px;
	color: #f0f99f;
	margin-bottom: 5px;


}

#conteiner{
	width: 960px;
	height: 1400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #606060;

}

#nombre{
	width: 960px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333555;
	background-image: url(flores.jpg);
	border:2px solid #00ffff;

}

#flores{
	width: 960px;
	height: 200px;

}

h1 {
	font-family:  Trattatello , Brush Script MT, Brush Script Std, cursive;
	color: #00ffff;
	text-align: center;
	font-size: 100px;
	padding-top: 35px;
}

#botonera{
    width: 960px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding: 20px;
}

#botonera ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size:  20px;
    margin-top: 10px;
	margin-left: 2px;
	margin-right: 0;
	
	text-align: center;
}
#botonera ul li{
	display: inline;
}
#botonera ul li a{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	padding: 30px 10px ;
	display: inline-block;
	margin-left: 10px;

}

#botonera ul li a:hover{
	
	
	color:#00ffff;
}
h2{
	margin-top:  20px;
	text-align: center;
	padding: 5px;
	color: #ffffff;
}
#uno{
    width: 450px;
	height: 619px;
	float: left;
	background-color: #000000;
	margin-left: 20px;
	margin-top: 20px;
	border:2px solid #00ffff;

}

li {
	margin-top: 30px;
}
h4{
	text-align: left;
	color: #808080;
	margin-top: 15px;

}
h6{
	margin-top: 15px;
	color: #818181;
}
#dos{
	width: 450px;
	height: 350px;
	float: left;
	background-color: #005955;
	margin-left: 10px;
	margin-top: 20px;
	border:2px solid #00ffff;


}

#tres{
	width: 450px;
	height: 250px;
	float: left;
	background-color: #000000;
	margin-left: 10px;
	margin-top: 20px;
	border:2px solid #00ffff;


}

#cuatro{
	width: 950px;
	height: 450px;
	float: left;
	background-color: #011125;
	margin-left: 5px;
	margin-top: 20px;
	border:2px solid #00ffff;

}

#galeria{
	float: left;
	margin-left: 100px;
}
#foto{
	height: 400px;
	width:650px;
	float: left;
	margin-left: 40px;
	margin-top: 20px;
	background-color: #011125;
	padding: 5px;
}

footer{
	height: 200px;
	background-color: #00ffff;;
}
#face {
	float: left;
	margin-left: 260px; 
	border:2px solid #000000;
	margin-top: 30px;
}

 #imstagram{
 	float: left;
	margin-left: 20px; 
	border:2px solid #000000;
	margin-top: 30px;
 }
 	#wasap{
 		float: left;
	margin-left: 20px; 
	border:2px solid #000000;
	margin-top: 30px;

 	}

 	
 	#git{
 				float: left;
	margin-left: 20px; 
	border:2px solid #000000;
	margin-top: 30px;

 	}
 	#in{
 			float: left;
	margin-left: 20px; 
	border:2px solid #000000;
	margin-top: 30px;

 	}
 	p{
 		
 		float: right;
 		margin-top: 70px;
 		margin-right: 430px;

 	}
 	@media all and (min-width: 600px) and (max-width: 1023px){


 	head,section,footer
{
	width: 580px;
	
}

head{
	height: 200px;
	

}
#conteiner{
	width: 580px;
	height: 1850px;
	margin-left: auto;
	margin-right: auto;
	background-color: #606060;

}

#nombre{
	width: 580px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333555;
	background-image: url(flores.jpg);
	border:2px solid #00ffff;

}

#flores{
	width: 5800px;
	height: 400px;

}

h1 {
	font-family:  Trattatello , Brush Script MT, Brush Script Std, cursive;
	color: #00ffff;
	text-align: center;
	font-size: 100px;
	padding-top: 35px;
}

#botonera{
    width: 580px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding: 0px;
}

#botonera ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size:  15px;
    margin-top: 20px;
	margin-left: 2px;
	margin-right: 0;
	
	text-align: center;
}
#botonera ul li{
	display: inline;
}
#botonera ul li a{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	padding: 30px 10px ;
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px;

}

#botonera ul li a:hover{
	
	
	color:#00ffff;
}
h2{
	margin-top:  20px;
	text-align: center;
	padding: 5px;
	color: #ffffff;
}
#uno{
    width: 563px;
	height: 619px;
	float: left;
	background-color: #000000;
	margin-left: 8px;
	margin-top: 20px;
	border:2px solid #00ffff;

}

li {
	margin-top: 30px;
}
h4{
	text-align: left;
	color: #808080;
	margin-top: 15px;

}
h6{
	margin-top: 15px;
	color: #818181;
}
#dos{
	width: 563px;
	height: 300px;
	float: left;
	background-color: #005955;
	margin-left: 10px;
	margin-top: 20px;
	border:2px solid #00ffff;


}

#tres{
	width: 563px;
	height: 300px;
	float: left;
	background-color: #000000;
	margin-left: 10px;
	margin-top: 20px;
	border:2px solid #00ffff;


}

#cuatro{
	width: 563px;
	height: 200px;
	float: left;
	background-color: #011125;
	margin-left: 10px;
	margin-top: 20px;
	border:2px solid #00ffff;

}

#galeria{
	float: left;
	margin-left: 20px;
}
#foto{
	height: 180px;
	width:550px;
	float: left;
	margin-left: 0px;
	margin-top: 8px;
	background-color: #011125;
	padding: 0px;
}

footer{
	height: 150px;
	background-color: #00ffff;;
}
#face {
	float: left;
	margin-left: 110px; 
	border:2px solid #000000;
	margin-top: 30px;
}

 #imstagram{
 	float: left;
	margin-left: 20px; 
	border:2px solid #000000;
	margin-top: 30px;
 }
 	#wasap{
 		float: left;
	margin-left: 20px; 
	border:2px solid #000000;
	margin-top: 30px;

 	}

 	
 	#git{
 				float: left;
	margin-left: 20px; 
	border:2px solid #000000;
	margin-top: 30px;

 	}
 	#in{
 			float: left;
	margin-left: 20px; 
	border:2px solid #000000;
	margin-top: 30px;

 	}
 	p{
 		
 		float: left;
 		margin-top: 10px;
 		margin-right: 0px;
 		margin-left: 220px;

 	}
}
@media all and (max-width: 599px)  {

head,body,section,footer
{
	
	width: 90%;
	
}
head{
	
	height:auto;
}
#conteiner{
	width: 100%;
	height: auto;
	float: none;


}

#nombre{
	width: 90%;
	height: auto;
	float: none;
	margin-left: auto;
	margin-right: auto;
	

}
#flores{
	width: 90%;
	height: auto;
	float: none;

}
#botonera{
    width: 50%;
	height: auto;
	
	float: none;
	font-variant: small-caps;
	
}




#uno{
    width: 90%;
	height: auto;
	float: none;
}

#dos{
	width: 90%;
	height: auto;
	float: none;
	margin-left: 20px;
	}

#tres{
	width: 90%;
	height: auto;
	float: none;
	margin-left: 20px;
}

#cuatro{
	width: 90%;
	height: auto;
	float: none;
	margin-left: 20px;
	

}

#galeria{
	width: 90%;
	height: auto;
	float: none;
	margin-left: 20px;
	
}
#foto{
	height: auto;
	width:50%;
	float: none;
	

}
footer{
	width: 90%;
	height: auto;
	float: none;
	margin-left: 20px;
}
#face {
	margin-left: 35px;
	float: none;
	margin-bottom: 15px;
	
}

 #imstagram{
 	margin-left: 5px;
	float: none;
	margin-bottom: 15px;

 }
 #wasap{
 		margin-left: 5px;
	   float: none;
	   margin-bottom: 15px;

}

 #git{
       margin-left: 5px;
	   float: none;
	   margin-bottom: 15px;
}
	

 	#in{
 	    margin-left: 5px;
	   float: none;
	  margin-bottom: 15px;
}
	








 

	
 